@font-face {
    font-family: headerFont;
    src: url(fonts/CinzelDecorative-Bold.ttf);
}

@font-face {
    font-family: articleHeaderFont;
    src: url(fonts/CastoroTitling-Regular.ttf);
}

#title, #title2, #navMenu, #titleAdd {
    font-family: headerFont;
}

#ArticleTitle {
    font-family: articleHeaderFont;
}

#ArticleAuthor {
    font-style: italic;
}
